<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
	<title>@ViewBag.Title - Novelist</title>
	@*Default styles*@
	@Styles.Render("~/bundles/css/general")
	@*Additional page styles*@
	@RenderSection("Styles", false)
</head>
<body>
	<main>
		@RenderBody()
	</main>
	@*Default scripts*@
	@Scripts.Render("~/bundle/js/general")
	@*Additional page scripts*@
	@RenderSection("Scripts", false)
</body>
</html>
